.btn {
  @include btn;
  font-weight: 400;
  font-size: 42px;
  line-height: 42px;
}

.promo-btn {
  @include btn ;
  width: 497px;
height: 104px;
padding: 30px ;
  margin: 100px auto;

}

.portfolio-btn {
  @include btn;
  margin: 0 auto;
  }

.form-btn {
  @include btn;
  padding: 34px 0 36px;
  margin: 0 10px;
  min-width: 412px;
  font-size: 28px;
  line-height: 34px;
}
