.menu {
  @media (min-width: $desktop) {
    display: block !important;
  }

  @media (max-width: $mobile-max) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid $color-light;
    background-color: $color-dark;
  }



  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    margin-left: 30px;
      }

  a {
    font-size: 24px;
    line-height: 33px;
    color: $color-base;
    text-decoration: none;


    &:hover {
      color: $color-base;

    }
  }
}
