.order{
  padding: 130px 0 82px;
  background-color: rgba($color-dark, .01);
}


.order-inner{
  @include inner
}

.order-title {
  @include section-title;
  padding-bottom: 40px;
  margin: 130px 82px 0;
}

.order-text{
  padding-bottom: 90px;
    font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}
