.promo {
  background-image: url(../images/fone.jpg);
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (max-width: $tablet-max) {
    padding: 180px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 110px 0;
    text-align: center;
  }
  }



.promo-inner {
  @include inner
}

.promo-wrap {
  padding: 200px 0 214px 0;
  background-color: rgba(51, 51, 51, .4);
  margin-left: -$gap-half;
  margin-right: -$gap-half;

  @media (max-width: $mobile-max) {
    display: block;
  }
}

.promo-title{
  color: #fff;
  font: $font;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
  padding: 0 82px;

  @media (max-width: $tablet-max) {
    margin-bottom: 40px;
    font-size: 54px;
    line-height: 74px;
  }

  @media (max-width: $mobile-max) {
    font-size: 32px;
    line-height: 44px;
  }
}
