/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v34-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/open-sans-v34-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v34-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v34-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v34-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #333333;
}

.header-inner {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.menu ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.menu li {
  margin-left: 30px;
}
.menu a {
  font-size: 24px;
  line-height: 33px;
  color: #FF2D2D;
  text-decoration: none;
}
.menu a:hover {
  color: #FF2D2D;
}

.promo {
  background-image: url(../images/fone.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 0;
  border-radius: 10px;
}

.promo-inner {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}

.promo-wrap {
  display: flex;
  flex-wrap: wrap;
}

promo-desc {
  flex-basis: 50%;
}

.portfolio-inner {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}

.order {
  padding: 130px 0 82px;
  background-color: rgba(51, 51, 51, 0.01);
}

.order-inner {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}

.order-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  color: #333333;
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 33.33%;
  margin: 70px auto 0;
  border: 1px solid #000;
}

.form-label {
  margin-left: 20px;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
}

.footer {
  background-color: #333333;
}

.footer-inner {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNvbW1vbi9fZm9udHMuc2NzcyIsImNvbW1vbi9fY29tbW9uLnNjc3MiLCJjb21tb24vX3ZhcmlhYmxlcy5zY3NzIiwiYmxvY2tzL19oZWFkZXIuc2NzcyIsImNvbW1vbi9fbWl4aW4uc2NzcyIsImJsb2Nrcy9fbWVudS5zY3NzIiwiYmxvY2tzL19wcm9tby5zY3NzIiwiYmxvY2tzL19wb3J0Zm9saW8uc2NzcyIsImJsb2Nrcy9fb3JkZXIuc2NzcyIsImJsb2Nrcy9fZm9ybS5zY3NzIiwiYmxvY2tzL19mb290ZXIuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtBQUNBO0VBQ0U7RUFDQTtFQUNBO0VBQ0Esc0tBRStFOztBQUVqRjtBQUNBO0VBQ0U7RUFDQTtFQUNBO0VBQ0EsOEpBRTJFOztBQUU3RTtBQUNBO0VBQ0U7RUFDQTtFQUNBO0VBQ0EsOEpBRTJFOztBQ3pCN0U7RUFDRTtFQUNBO0VBQ0E7OztBQUdGO0VBQ0UsYUNOSztFRE9MLE9DSlc7OztBRE9iO0VBQ0U7RUFDQTs7O0FFYkY7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0Esa0JERlc7OztBQ0tiO0VDUkUsT0FEbUI7RUFFbkI7RUFDQTs7O0FEVUY7RUFDRTtFQUNBOzs7QUFHRjtFQUNFOzs7QUVqQkE7RUFDRTtFQUNBO0VBQ0E7O0FBR0Y7RUFDRTs7QUFHRjtFQUNFO0VBQ0E7RUFDQSxPSFZTO0VHV1Q7O0FBRUE7RUFDRSxPSGRPOzs7QUlMYjtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7O0FBR0Y7RUZSRSxPQURtQjtFQUVuQjtFQUNBOzs7QUVVRjtFQUNFO0VBQ0E7OztBQUdGO0VBQ0U7OztBQ25CRjtFSENFLE9BRG1CO0VBRW5CO0VBQ0E7OztBSUhGO0VBQ0U7RUFDQTs7O0FBSUY7RUpMRSxPQURtQjtFQUVuQjtFQUNBOzs7QUlPRjtFSkhFLGFGTks7RUVPTDtFQUNBO0VBQ0E7RUFDQSxPRlBXO0VFUVg7OztBS1pGO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7O0FBR0Y7RUFDRTtFQUNBO0VBQ0E7RUFDQSxPUFJXOzs7QVFKYjtFQUNFLGtCUkdXOzs7QVFBYjtFTkhFLE9BRG1CO0VBRW5CO0VBQ0EiLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLyogb3Blbi1zYW5zLXJlZ3VsYXIgLSBsYXRpbl9jeXJpbGxpYyAqL1xuQGZvbnQtZmFjZSB7XG4gIGZvbnQtZmFtaWx5OiAnT3BlbiBTYW5zJztcbiAgZm9udC1zdHlsZTogbm9ybWFsO1xuICBmb250LXdlaWdodDogNDAwO1xuICBzcmM6IGxvY2FsKCcnKSxcbiAgICAgICB1cmwoJy4uL2ZvbnRzL29wZW4tc2Fucy12MzQtbGF0aW5fY3lyaWxsaWMtcmVndWxhci53b2ZmMicpIGZvcm1hdCgnd29mZjInKSwgLyogQ2hyb21lIDI2KywgT3BlcmEgMjMrLCBGaXJlZm94IDM5KyAqL1xuICAgICAgIHVybCgnLi4vZm9udHMvb3Blbi1zYW5zLXYzNC1sYXRpbl9jeXJpbGxpYy1yZWd1bGFyLndvZmYnKSBmb3JtYXQoJ3dvZmYnKTsgLyogQ2hyb21lIDYrLCBGaXJlZm94IDMuNissIElFIDkrLCBTYWZhcmkgNS4xKyAqL1xufVxuLyogb3Blbi1zYW5zLTYwMCAtIGxhdGluX2N5cmlsbGljICovXG5AZm9udC1mYWNlIHtcbiAgZm9udC1mYW1pbHk6ICdPcGVuIFNhbnMnO1xuICBmb250LXN0eWxlOiBub3JtYWw7XG4gIGZvbnQtd2VpZ2h0OiA2MDA7XG4gIHNyYzogbG9jYWwoJycpLFxuICAgICAgIHVybCgnLi4vZm9udHMvb3Blbi1zYW5zLXYzNC1sYXRpbl9jeXJpbGxpYy02MDAud29mZjInKSBmb3JtYXQoJ3dvZmYyJyksIC8qIENocm9tZSAyNissIE9wZXJhIDIzKywgRmlyZWZveCAzOSsgKi9cbiAgICAgICB1cmwoJy4uL2ZvbnRzL29wZW4tc2Fucy12MzQtbGF0aW5fY3lyaWxsaWMtNjAwLndvZmYnKSBmb3JtYXQoJ3dvZmYnKTsgLyogQ2hyb21lIDYrLCBGaXJlZm94IDMuNissIElFIDkrLCBTYWZhcmkgNS4xKyAqL1xufVxuLyogb3Blbi1zYW5zLTcwMCAtIGxhdGluX2N5cmlsbGljICovXG5AZm9udC1mYWNlIHtcbiAgZm9udC1mYW1pbHk6ICdPcGVuIFNhbnMnO1xuICBmb250LXN0eWxlOiBub3JtYWw7XG4gIGZvbnQtd2VpZ2h0OiA3MDA7XG4gIHNyYzogbG9jYWwoJycpLFxuICAgICAgIHVybCgnLi4vZm9udHMvb3Blbi1zYW5zLXYzNC1sYXRpbl9jeXJpbGxpYy03MDAud29mZjInKSBmb3JtYXQoJ3dvZmYyJyksIC8qIENocm9tZSAyNissIE9wZXJhIDIzKywgRmlyZWZveCAzOSsgKi9cbiAgICAgICB1cmwoJy4uL2ZvbnRzL29wZW4tc2Fucy12MzQtbGF0aW5fY3lyaWxsaWMtNzAwLndvZmYnKSBmb3JtYXQoJ3dvZmYnKTsgLyogQ2hyb21lIDYrLCBGaXJlZm94IDMuNissIElFIDkrLCBTYWZhcmkgNS4xKyAqL1xufVxuIiwiKiB7XG4gIG1hcmdpbjogMDtcbiAgcGFkZGluZzogMDtcbiAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbn1cblxuYm9keSB7XG4gIGZvbnQtZmFtaWx5OiAkZm9udDtcbiAgY29sb3I6ICRjb2xvci1kYXJrO1xufVxuXG5pbWcge1xuICBkaXNwbGF5OiBibG9jaztcbiAgbWF4LXdpZHRoOiAxMDAlO1xufVxuIiwiLy8gRm9udHNcbiRmb250OiAnT3BlbiBTYW5zJywgc2Fucy1zZXJpZjtcblxuLy8gY29sb3JzXG4kY29sb3ItZGFyazogIzMzMzMzMztcbiRjb2xvci1iYXNlOiAjRkYyRDJEO1xuXG4vLyBpbmRlbnRzXG5cblxuXG4vLyBicmVha3BvaW50c1xuIiwiLmhlYWRlciB7XG4gIHBvc2l0aW9uOiBmaXhlZDtcbiAgbGVmdDogMDtcbiAgdG9wOiAwO1xuICB6LWluZGV4OiAxMDAwO1xuICB3aWR0aDogMTAwJTtcbiAgYmFja2dyb3VuZC1jb2xvcjogJGNvbG9yLWRhcms7XG59XG5cbi5oZWFkZXItaW5uZXJ7XG4gIEBpbmNsdWRlIGlubmVyXG59XG5cbi5oZWFkZXItd3JhcCB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG59XG5cbi5oZWFkZXItbG9nbyB7XG4gIG1hcmdpbi1yaWdodDogYXV0bztcbn1cbiIsIkBtaXhpbiBpbm5lcigkd2lkdGg6IDE0NDBweCkge1xuICB3aWR0aDogJHdpZHRoO1xuICBtYXJnaW46IDAgYXV0bztcbiAgYm9yZGVyOiAxcHggc29saWQgcmVkO1xufVxuXG5AbWl4aW4gc2VjdGlvbi10aXRsZSB7XG4gIGZvbnQtZmFtaWx5OiAkZm9udDtcbiAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgZm9udC1zaXplOiA2NHB4O1xuICBsaW5lLWhlaWdodDogODdweDtcbiAgY29sb3I6ICRjb2xvci1kYXJrO1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG59XG4iLCIubWVudSB7XG5cbiAgdWwge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgbWFyZ2luOiAwO1xuICAgIHBhZGRpbmc6IDA7XG4gIH1cblxuICBsaSB7XG4gICAgbWFyZ2luLWxlZnQ6IDMwcHg7XG4gIH1cblxuICBhIHtcbiAgICBmb250LXNpemU6IDI0cHg7XG4gICAgbGluZS1oZWlnaHQ6IDMzcHg7XG4gICAgY29sb3I6ICRjb2xvci1iYXNlO1xuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcblxuICAgICY6aG92ZXIge1xuICAgICAgY29sb3I6ICRjb2xvci1iYXNlO1xuICAgIH1cbiAgfVxufVxuIiwiLnByb21vIHtcbiAgYmFja2dyb3VuZC1pbWFnZTogdXJsKC4uL2ltYWdlcy9mb25lLmpwZyk7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gIGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlciBjZW50ZXI7XG4gIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gIHBhZGRpbmc6IDUwcHggMDtcbiAgYm9yZGVyLXJhZGl1czogMTBweDtcbn1cblxuLnByb21vLWlubmVyIHtcbiBAaW5jbHVkZSBpbm5lclxufVxuXG4ucHJvbW8td3JhcCB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtd3JhcDogd3JhcDtcbn1cblxucHJvbW8tZGVzYyB7XG4gIGZsZXgtYmFzaXM6IDUwJTtcblxufVxuIiwiLnBvcnRmb2xpby1pbm5lcntcbiAgQGluY2x1ZGUgaW5uZXJcbn1cbiIsIi5vcmRlcntcbiAgcGFkZGluZzogMTMwcHggMCA4MnB4O1xuICBiYWNrZ3JvdW5kLWNvbG9yOiByZ2JhKCRjb2xvci1kYXJrLCAuMDEpO1xufVxuXG5cbi5vcmRlci1pbm5lcntcbiAgQGluY2x1ZGUgaW5uZXJcbn1cblxuLm9yZGVyLXRpdGxlIHtcbiAgQGluY2x1ZGUgc2VjdGlvbi10aXRsZTtcbn1cbiIsIi5mb3JtIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC13cmFwOiB3cmFwO1xuICB3aWR0aDogMzMuMzMlO1xuICBtYXJnaW46IDcwcHggYXV0byAwO1xuICBib3JkZXI6IDFweCBzb2xpZCAjMDAwO1xufVxuXG4uZm9ybS1sYWJlbCB7XG4gIG1hcmdpbi1sZWZ0OiAyMHB4O1xuICBmb250LXNpemU6IDIwcHg7XG4gIGxpbmUtaGVpZ2h0OiAyN3B4O1xuICBjb2xvcjogJGNvbG9yLWRhcms7XG59XG4iLCIuZm9vdGVye1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAkY29sb3ItZGFyaztcbn1cblxuLmZvb3Rlci1pbm5lcntcbiAgQGluY2x1ZGUgaW5uZXJcbn1cbiJdfQ== */
