@mixin inner($width: 1440px) {
  width: $width;
  margin: 0 auto;
  border: 1px solid red;
}

@mixin section-title {
  font-family: $font;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  color: $color-dark;
  text-align: center;
}
