@mixin inner($width: 1440px) {
  width: $width;
  margin: 0 auto;
  border: 1px solid red;
}

@mixin btn {
  display: block;
  padding: 30px 0 31px;
  min-width: 497px;
  color: #fff;
  font-family: $font;
  font-size: 42px;
line-height: 57px;
text-align: center;
  background-color: $color-base;
  border-radius: 6px;
  border: 0px solid $color-base;
  text-decoration: none;
  cursor: pointer;
}

@mixin section-title {
  font-family: $font;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  color: $color-dark;
  text-align: center;


@media (max-width: $tablet-max) {
  font-size: 54px;
  line-height: 74px;

}

@media (max-width: $mobile-max) {
  font-size: 32px;
  line-height: 44px;
}
}
